:host {
    --slds-c-button-c-color-background: purple;
}

.card-content {
    padding: var(--lwc-spacing-small); /* Replace hardcoded padding with a spacing token */
    background-color:  var(--lwc-color-background-alt); /* Replace hardcoded color with a background color token */
    color:     var(--slds-c-text-color);  /* Replace hardcoded color with a text error color token */
    font-family: var(--sds-font-family-heading);
    font-size: var(--sds-fontSize-heading-medium);
    font-weight: var(--sds-fontWeight-bold);
    line-height: var(--sds-lineHeight-heading);
}